    .green {
        border: 3px solid green;
    }

    .blue {
        border: 2px solid blue;
    }

    .red {
        border: 2px solid red;
    }

    .titulo {
        text-align: center;
        font-size: 2.4rem;
        font-family: Arial;
        padding: 2rem;
    }

    .grid-container {
        display: flex;
        padding-left: 20%;
        padding-right: 20%;
    }

    .grid-container-index {
        display: flex;
        padding-left: 20%;
        padding-right: 20%;
    }

    .col {
        flex: 1;
        padding: 1px;
        text-align: center;
    }

    .cel {
        background-color: black;
        padding-left: 1px;
        padding-right: 1px;
        padding-top: 2px;
        padding-bottom: 2px;
        text-align: center;
    }

    .cel-color-white {
        background-color: white;
    }

    .tooltip {
        position: relative;
        /*border-bottom: 1px dotted black;*/
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        /*z-index: 1;*/
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
    }

    .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }

    .container {
        display: inline;
        justify-content: center;
        padding: 1px;
    }

    .btn {
        width: 100px;
        text-align: center;
        margin-top: 20px;
        font-family: Arial;

    }
    .creditos{
        font-family: Arial;
    }
